<app-main-nav2>
  <strong>
    <h2 class="card-title" style="text-align: center">Create Schedule</h2>
  </strong><br/><br/>
  <form #form="ngForm" (submit)="sub(form)" autocomplete="off">
    <div class="form-row">
      <input type="hidden" #CreatedBy="ngModel" name="CreatedBy" [(ngModel)]="createdBy">
      <div class="form-group col-md-6">
        <strong><label>Start Date Time :<br /></label></strong>&nbsp;
        <input type="datetime-local" (focusout)="checkStartDate(StartDateTime)" [min]="date" required
          name="StartDateTime" #StartDateTime="ngModel" [(ngModel)]="checkStart" class="form-control">
        <div class="validation-error" *ngIf="(StartDateTime.invalid && StartDateTime.touched) || startDateValid ">This
          field is wrong and required.
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <strong><label>End Date Time :</label></strong>&nbsp;
        <input type="datetime-local" (focusout)="checkEndDate(EndDateTime)" required name="EndDateTime" [min]="checkStart"
          #EndDateTime="ngModel" [(ngModel)]="checkEnd" class="form-control">
        <div class="validation-error" *ngIf="(EndDateTime.invalid && EndDateTime.touched) || endDateValid">This field
          is wrong and required.
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
          <strong><label>Select Quiz</label></strong>
        <select name="QuizId" required #QuizId="ngModel" [(ngModel)]="quizId" class="form-control">
          <option value="">Choose</option>
          <option *ngFor="let Quiz of QuizList" value="{{Quiz.QuizId}}">
            {{Quiz.QuizName}}</option>
        </select>
        <div class="validation-error" *ngIf="QuizId.invalid && QuizId.touched">This field is required.</div>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="form.invalid || startDateValid || endDateValid"
        class="btn btn-primary">Submit</button>
    </div>
  </form>
</app-main-nav2>