$light-blue: rgb(1, 139, 188);
$royal-blue: #025d8c;
$white: #ffff;
$black: black;
$dark: #0000;
$dark-grey: rgba(74, 74, 74, .8);
$blue: #4169e1;
$green: green;
$red: red;
$body: #323c41;
$box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
$hover-shade: rgba(84, 104, 110, 0.8);
$yellow: #d0bb57;
$blockquote: #ccc;
$li-hover: 3px solid #eee;
$li-hover-active: rgb(2, 93, 140);
$sidebar: rgb(1, 139, 188);
$slider: rgb(185, 185, 185);
$hr-back: #9b9b9b;
$greenyellow: greenyellow;
$background: rgb(235, 235, 235);
