/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
#toast-container > div {
	opacity: 1;
}
*body {
	margin: 0 auto;
	padding: 0 auto;
}
html {
	font-family: sans-serif;
	line-height: 1.15;
	background-color: rgba(34, 42, 66, 0);
}
body {
	margin: 0;
	font-family: "Poppins", sans-serif;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.5;
	color: #525f7f;
	text-align: left;
	background-color: #1e1e2f;
}
