<app-main-nav3>
  <strong>
    <h1 style="text-align: center">List of Mock Quizzes</h1>
  </strong>
  <br /><br />
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
    class="row-border hover table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th>#S No.</th>
        <th>Quiz Name</th>
        <th>Subject</th>
        <th>Difficulty Level</th>
        <th>Total Questions</th>
        <th>Total Marks</th>
        <th>Quiz Time</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let mock of mockList; index as i;">
        <th>{{i+1}}</th>
        <td>{{mock.QuizName}}</td>
        <td>{{mock.Subject}}</td>
        <td>{{mock.Difficulty}}</td>
        <td>{{mock.TotalQuestions}}</td>
        <td>{{mock.TotalMarks}}</td>
        <td>{{mock.QuizTime}}</td>
        <td>
          <a class="btn btn-sm btn-info text-white" (click)="takeMockQuiz(mock.QuizId, i)"><i aria-hidden="true"
              class="fa fa-paper-plane"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</app-main-nav3>