<app-main-nav3>
  <div>
    <strong><h2 style="text-align: center">List of Scheduled Quizzes</h2></strong>
    <br /><br />
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
      class="row-border hover table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#S. No.</th>
          <th scope="col">Quiz Name</th>
          <th scope="col">Start Date/Time</th>
          <th scope="col">End Date/Time</th>
          <th scope="col">Time</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of nonMockScheduleList;index as i;">
          <tr>
            <th>{{i+1}}</th>
            <td>{{item.QuizName}}</td>
            <td>{{item.StartDateTime}}</td>
            <td>{{item.EndDateTime}}</td>
            <td>{{item.QuizTime}}</td>
            <td style="text-align:center;">
              <a class="btn btn-sm btn-info text-white" (click)="takeQuiz(item.QuizId,item.QuizScheduleId,i)"><i
                  class="fa fa-paper-plane"></i></a>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</app-main-nav3>