<div class="container">
    <mat-toolbar class="mat-toolbar">
        <mat-toolbar-row>
            <a href="https://www.nineleaps.com/">
                <span><img src="../../assets/nineleaps_logo.jpg" class="pic" alt="Nineleaps"></span>
            </a>
            <span class="example-spacer"></span>
            <a href="#aboutus">About Us</a>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="name">
        <h1>Assessment System</h1>
    </div>
    <div class="card-block">
        <button class="btn btn-success" (click)="signInWithGoogle()">
            <span class="buttonText">Sign in with:</span>
            <span><i class="fa fa-google" aria-hidden="true"></i></span>
        </button>
    </div>
    <div class="card-block" *ngIf="user">
        <button class="btn btn-danger" (click)="signOut()">Sign out</button>
    </div>

</div>
<div class="container1 aboutcontainer" id="aboutus">
    <h4>ABOUT US</h4>
    <br />
    <blockquote>
        <p>The goal of Assessment Systems is to provide software and consulting services utilizing best practices in
            psychometrics, helping our clients to produce the best assessments possible, thereby providing the best
            information about people’s skills, knowledge, abilities, and traits. This allows better decisions to be made
            about
            people, or people to make decisions about themselves. Testing is our profession, not just our business.</p>
    </blockquote>
    <div class="row">
        <div class="col-md-4">
            <div class="blog-card spring-fever" style="background: url(../../assets/pulkit.png) no-repeat;">
                <div class="card-info">
                    <div class="title-content">
                        <h3>PULKIT VERMA</h3>
                        <hr />
                        <h6>Team ASTER</h6>
                        <h6>Nineleaps Intern</h6>
                    </div>
                    <div class="utility-info">
                        <ul class="utility-list">
                            <li><a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                            <li><a href=""><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="gradient-overlay"></div>
                <div class="color-overlay"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="blog-card spring-fever" style="background: url(../../assets/logo.jpg) no-repeat;">

                <div class="card-info">
                    <div class="title-content">
                        <h3>NIRMIT AGARWAL</h3>
                        <hr />
                        <h6>Team ASTER</h6>
                        <h6>Nineleaps Intern</h6>
                    </div>
                    <div class="utility-info">
                        <ul class="utility-list">
                            <li><a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                            <li><a href=""><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="gradient-overlay"></div>
                <div class="color-overlay"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="blog-card spring-fever"
                style="background: url(../../assets/anand.jpg) no-repeat;image-orientation: 90deg flip; ">
                <div class="card-info">
                    <div class="title-content">
                        <h3>ANAND ROY</h3>
                        <hr />
                        <h6>Team ASTER</h6>
                        <h6>Nineleaps Intern</h6>
                    </div>
                    <div class="utility-info">
                        <ul class="utility-list">
                            <li><a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                            <li><a href=""><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="gradient-overlay"></div>
                <div class="color-overlay"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="blog-card1 spring-fever" style="background: url(../../assets/abhi.jpg) no-repeat;">
                <div class="card-info">
                    <div class="title-content">
                        <h3>ABHIJEET ANAND SHAH</h3>
                        <hr />
                        <h6>Team ASTER</h6>
                        <h6>Nineleaps Intern</h6>
                    </div>
                    <div class="utility-info">
                        <ul class="utility-list">
                            <li><a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                            <li><a href=""><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="gradient-overlay"></div>
                <div class="color-overlay"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="blog-card1 spring-fever" style="background: url(../../assets/meg.jpg) no-repeat;">
                <div class="card-info">
                    <div class="title-content">
                        <h3>SREEMEGHANA K S</h3>
                        <hr />
                        <h6>Team ASTER</h6>
                        <h6>Nineleaps Intern</h6>
                    </div>
                    <div class="utility-info">
                        <ul class="utility-list">
                            <li><a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                            <li><a href=""><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="gradient-overlay"></div>
                <div class="color-overlay"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="blog-card1 spring-fever" style="background: url(../../assets/mandeep.png) no-repeat;">

                <div class="card-info">
                    <div class="title-content">
                        <h3>MANDEEP JAIN</h3>
                        <hr />

                        <h6>Team ASTER</h6>
                        <h6>Nineleaps Intern</h6>
                    </div>
                    <div class="utility-info">
                        <ul class="utility-list">
                            <li><a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                            <li><a href=""><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="gradient-overlay"></div>
                <div class="color-overlay"></div>
            </div>
        </div>
    </div>
    <br />
    <br />
