.card {
	margin: 9px auto;
}
.container {
	max-width: inherit;
	max-height: inherit;
}
.button {
	margin-left: 10px;
}
.mat-dialog-content {
	position: relative;
	max-height: none;
	overflow: visible !important;
	margin: 0 auto !important;
	padding-right: 0px !important;
}
.pos {
	position: absolute;
	right: -2%;
	top: -7%;
	z-index: 9999;
	width: 38px;
	height: 35px;
}
.mat-icon {
	width: 30px;
	height: 30px;
	position: absolute;
	left: 8%;
	top: 15%;
}

.can-toggle {
	position: relative;
}
.can-toggle *,
.can-toggle *:before,
.can-toggle *:after {
	box-sizing: border-box;
}
.can-toggle input[type="checkbox"] {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
}
.can-toggle input[type="checkbox"][disabled] ~ label {
	pointer-events: none;
	color: rgba(119, 119, 119, 0.5);
}
.can-toggle input[type="checkbox"][disabled] ~ label .can-toggle__switch {
	opacity: 0.4;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:before {
	content: attr(data-unchecked);
	left: 0;
}
.can-toggle label .can-toggle__label-text {
	flex: 1;
	padding-left: 25px;
}
.can-toggle label .can-toggle__switch:after {
	top: 2px;
	left: 2px;
	border-radius: 2px;
	width: 65px;
	line-height: 32px;
	font-size: 12px;
	content: attr(data-unchecked);
	position: absolute;
	z-index: 5;
	text-transform: uppercase;
	text-align: center;
	background: white;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
	transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
	transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1), -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
	color: #777;
}
.can-toggle input[type="checkbox"]:focus ~ label .can-toggle__switch,
.can-toggle input[type="checkbox"]:hover ~ label .can-toggle__switch {
	background-color: #777;
}
.can-toggle input[type="checkbox"]:focus ~ label .can-toggle__switch:after,
.can-toggle input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
	color: #5e5e5e;
}
.can-toggle input[type="checkbox"]:hover ~ label {
	color: #6a6a6a;
}
.can-toggle input[type="checkbox"]:checked ~ label:hover {
	color: #55bc49;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch {
	background-color: #70c767;
}
.can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch,
.can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch {
	background-color: #5fc054;
}
.can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after,
.can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
	color: #47a43d;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}
.can-toggle label .can-toggle__switch {
	height: 36px;
	flex: 0 0 134px;
	border-radius: 4px;
	position: relative;
	transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
	background: #848484;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
	content: attr(data-checked);
	color: #4fb743;
	-webkit-transform: translate3d(65px, 0, 0);
	transform: translate3d(65px, 0, 0);
}
.can-toggle label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: relative;
	display: flex;
	align-items: center;
	font-size: 12px;
}
.can-toggle label .can-toggle__switch:before {
	content: attr(data-checked);
	position: absolute;
	top: 0;
	text-transform: uppercase;
	text-align: center;
	color: rgba(255, 255, 255, 0.5);
	left: 60px;
	font-size: 12px;
	line-height: 36px;
	width: 70px;
	padding: 0 12px;
}
.can-toggle label .can-toggle__switch:hover:after {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}
.can-toggle.demo-rebrand-1 input[type="checkbox"][disabled] ~ label {
	color: rgba(255, 0, 0, 0.5);
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:focus ~ label .can-toggle__switch,
.can-toggle.demo-rebrand-1 input[type="checkbox"]:hover ~ label .can-toggle__switch {
	background-color: #fa0000;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:focus ~ label .can-toggle__switch:after,
.can-toggle.demo-rebrand-1 input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
	color: #fa0000;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:hover ~ label {
	color: #fa0000;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked ~ label:hover {
	color: #39916a;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked ~ label .can-toggle__switch {
	background-color: #44ae7f;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
	color: #368a65;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch,
.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch {
	background-color: #3d9c72;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after,
.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
	color: #2f7757;
}
.can-toggle.demo-rebrand-1 label .can-toggle__label-text {
	flex: 1;
}
.can-toggle.demo-rebrand-1 label .can-toggle__switch {
	transition: background-color 0.3s ease-in-out;
	background: #fa0000;
}
.can-toggle.demo-rebrand-1 label .can-toggle__switch:before {
	color: rgba(255, 255, 255, 0.6);
}
.can-toggle.demo-rebrand-1 label .can-toggle__switch:after {
	transition: -webkit-transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
	color: #fa0000;
}

.move {
	position: absolute;
	top: 13%;
	right: 54%;
}
.move1 {
	position: relative;
}
