<app-main-nav3>
  <ngx-ui-loader [loaderId]="'loader-01'" *ngIf="show"></ngx-ui-loader>
  <div class="jumbotron">
    <div class="pic">
      <img class="left" src="{{ profileUrl }}" />
    </div>
    <div class="detail1">
      <h1>{{ Firstname }} {{ Lastname }}</h1>
      <h6>{{ email }}</h6>
    </div>
    <div class="elem">
      <ul>
        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true" style="color:#00acee;"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true" style="color:#00acee;"></i></a></li>
        <li><a href="#"><i class="fa fa-github" aria-hidden="true" style="color:black;"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div style="width: 33.33%;
        margin-left: auto ;
        margin-right: auto ;" class="box col-3">
      <div class="boxhalf">
        <h2>{{ mocks }}</h2>
        <h5>Mocks Taken</h5>
      </div>
    </div>
    <div style="width: 33.33%;
        margin-left: auto ;
        margin-right: auto ;" class="box col-3">
      <div class="boxhalf">
        <h2>{{ nmocks }}</h2>
        <h5>Schedule Quiz Taken</h5>
      </div>
    </div>
    <div style="width: 33.33%;
        margin-left: auto ;
        margin-right: auto ;" class="box col-3">
      <div class="boxhalf">
        <h2>{{ accuracy }}</h2>
        <h5>Accuracy</h5>
      </div>
    </div>
  </div>
  <br /><br /><br />
  <div class="row">
    <div style="width: 100%;
    margin-left: auto ;
    margin-right: auto ;" class=" box1 col-8">
      <div class="boxhalf1">
        <h4>Recent Quiz Taken</h4>
        <h5>{{recentQuiz}}</h5>
      </div>
    </div>
  </div>
</app-main-nav3>