<!-- <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">Highest-Score</span>
  </div>
  <label class="form-control" id="basic-url">Hello</label>
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">Lowest Score</span>
  </div>
  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">Accuracy</span>
  </div>
  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">Performance</span>
  </div>
  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">Average Score</span>
  </div>
  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">Total-Quiz-Count</span>
  </div>
  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">Scheduled Quizzes Given</span>
  </div>
  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
</div>


<button type="button" class="btn btn-primary btn-danger" [mat-dialog-close]> Close</button> -->
<div *ngIf="data1">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Highest-Score</h5>
          <label class="card-text">{{data1.HighestScore}}</label>
        </div>
      </div>
    </div>
    <div class="col">

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Lowest Score</h5>
          <label class="card-text">{{data1.LowestScore}}</label>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Accuracy</h5>
          <label class="card-text">{{data1.Accuracy}}</label>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Performance</h5>
          <label class="card-text">{{data1.Performance}}</label>
        </div>
      </div>
    </div>
    <div class="col">

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Average Score</h5>
          <label class="card-text">{{data1.AverageScore}}</label>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Total-Quiz-Count</h5>
          <label class="card-text">{{data1.TotalQuizCount}}</label>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Scheduled Quizzes Given</h5>
          <label class="card-text">{{data1.NonMockCount}}</label>
        </div>
      </div>
    </div>
    <div class="col">

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Practice Quizzes Given</h5>
          <label class="card-text">{{data1.MockCount}}</label>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Probability of Correctness</h5>
          <label class="card-text">{{data1.ProbabilityAnsweringCorrectly}}</label>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

<button type="button" class="btn btn-primary btn-danger" [mat-dialog-close]> Close</button>