<div *ngIf="polarAreaChartData">
  <div>
    <div style="display: block">
      <canvas baseChart [data]="polarAreaChartData" [labels]="polarAreaChartLabels" [legend]="polarAreaLegend"
        [chartType]="polarAreaChartType">
      </canvas>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>{{data.FirstName}}&nbsp;&nbsp;{{data.LastName}}--Performance Metrics</h3>
  </div>
  <div style="align-items: flex-end;" class="col">
    <button type="button " [mat-dialog-close] class="btn btn-danger pos">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</div>
<div *ngIf="data2">
  <div class="row">
    <div class="col zoom">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Highest-Score</h5>
          <label class="card-text">{{data2.HighestScore}}</label>
        </div>
      </div>
    </div>
    <div class="col zoom">

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Lowest Score</h5>
          <label class="card-text">{{data2.LowestScore}}</label>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Accuracy</h5>
          <label class="card-text">{{data2.Accuracy}}</label>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Performance</h5>
          <label class="card-text">{{data2.Performance}}</label>
        </div>
      </div>
    </div>
    <div class="col">

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Average Score</h5>
          <label class="card-text">{{data2.AverageScore}}</label>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Total-Quiz-Count</h5>
          <label class="card-text">{{data2.TotalQuizCount}}</label>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Scheduled Quizzes Given</h5>
          <label class="card-text">{{data2.NonMockCount}}</label>
        </div>
      </div>
    </div>
    <div class="col">

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Practice Quizzes Given</h5>
          <label class="card-text">{{data2.MockCount}}</label>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Probability of Correctness</h5>
          <label class="card-text">{{data2.ProbabilityAnsweringCorrectly}}</label>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
<!-- 
<button type="button" class="btn btn-primary btn-danger" [mat-dialog-close]> Close</button> -->