table {
	width: 100%;
	margin-top: 10px;
	color: black;
}
.container-fluid {
	margin: 7px auto;
	padding: 5px auto;
}
h4 {
	text-align: center;
	color: black;
}
.th .mat-header-cell {
	padding-left: 20px !important;
	color: black;
}
<<<<<<< HEAD
=======
th, td{
	text-align: center;
}
>>>>>>> cc36520b0297d1918419cfc2cce9acb9b3f3a165
