<app-main-nav2>
  <div>
    <br /><br /><br />
    <h1 style="text-align: center">List of Archived Schedules</h1>
    <br /><br />
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
      class="row-border hover table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#Schedule ID</th>
          <th scope="col">Quiz Name</th>
          <th scope="col">Start Date/Time</th>
          <th scope="col">End Date/Time</th>
          <th scope="col">Un-Archive</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of ScheduleList;index as i;">
          <tr>
            <th scope="row">{{i+1}}</th>
            <td scope="row">{{item.QuizName}}</td>
            <td scope="row">{{item.StartDateTime}}</td>
            <td scope="row">{{item.EndDateTime}}</td>
            <td style="text-align:center;">
              <a class="btn btn-sm btn-info text-white" (click)="unarchiveSchedule(item.QuizScheduleId)"><i
                  class="fa fa-pencil"></i></a>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</app-main-nav2>