<app-main-nav>
  <div>
    <h1 style="text-align: center">List of Quizzes</h1>
    <button type="button" (click)="onCreate()" class="btn btn-primary">Create Quiz</button>
    <br /><br />
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
      class="row-border hover table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>#S. No.</th>
          <th>Quiz Name</th>
          <th>Subject</th>
          <th>Difficulty</th>
          <th>Quiz Type</th>
          <th>Total Questions</th>
          <th>Total Marks</th>
          <th>Duration(HH:MM)</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of QuizList;index as i">
          <th>{{i+1}}</th>
          <td>{{item.QuizName}}</td>
          <td>{{item.Subject}}</td>
          <td>{{item.Difficulty}}</td>
          <td>{{item.QuizType}}</td>
          <td>{{item.TotalQuestions}}</td>
          <td>{{item.TotalMarks}}</td>
          <td>{{item.QuizTime}}</td>
          <td>
            <a class="btn text-danger" (click)="onEdit(item.QuizId)"><i aria-hidden="true" class="fa fa-edit fa-lg"></i></a>
            <a class="btn text-danger" (click)="onArchive(item.QuizId)"><i aria-hidden="true" class="fa fa-trash fa-lg"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</app-main-nav>
