h1 {
    font-size: 50px;
    color: aliceblue;
}

h2{
    font-size: 30px;
    color: black;
}
.btn-info{
    width:100px;
}
.ppc{
    background-image: url('src/assets/img/404.jpg');
    background-repeat: no-repeat;
    background-size: 50% 100%;
}