/* .card {
	margin: 9px auto;
}
.form-control{
	background-color: inherit;
} */
.card-header {
	font-size: 30px;
	background-image: linear-gradient(to right, black, rgba(255, 0, 242, 0.719));
}
.parent {
	position: relative;
}
.child1 {
	position: absolute;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 8px;
}
.child2 {
	position: absolute;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 143px;
}
.child3 {
	position: absolute;
	margin-top: 300px;
	margin-left: 150px;
}
