<app-main-nav>
  <ngx-ui-loader [loaderId]="'loader-01'" *ngIf="show"></ngx-ui-loader>
  <div class="card">
    <div class="thumbnail">
      <img class="left" src="{{ profileUrl }}" />
    </div>
    <div class="info">
      <h1><span>{{ Firstname}} </span> {{ Lastname }}</h1>
      <h2><span>Email: </span>{{ email }}</h2>
    </div>
    <div class="right">
      <div class="one">Quizzes Created
        <h3>{{ Quizzes }}</h3>
      </div>
      <div class="two">Tags Created
        <h3>{{ Tags }}</h3>
      </div>
      <div class="three">Questions Created
        <h3>{{ Questions }}</h3>
      </div>
      <p></p>
    </div>
  </div>
</app-main-nav>