@import url(https://fonts.googleapis.com/css?family=Roboto);
@import 'src/color.scss';
.jumbotron {
	position: relative;
	background-color: $white;
	margin-top: 10px;
}
.pic {
	position: absolute;
	width: 20%;
	height: 150px;
	top: 10%;
	left: 3%;
	object-fit: cover;
}
.detail1 {
	position: absolute;
	width: 80%;
	top: 10%;
	right: 3%;
}
hr {
	width: 90%;
	height: 3px;
	margin: 20px auto;
	border: 0;
	background: $hr-back;
}
h3 {
	font-size: 35px;
	font-weight: 80%;
	color: $sidebar;
}
h2 {
	font-size: 60px;
}
h6 {
	font-size: 15px;
}
.row {
	margin-left: 5% !important;
}
.box {
	position: relative;
	background-color: $li-hover-active;
	height: 110px;
	margin: 0 10px 0 10px;
	z-index: 30;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
.box .boxhalf {
	position: absolute;
	width: 80%;
	right: 0px;
	z-index: 9999;
	background-color: $sidebar;
	color: $white;
	height: 100%;
	text-align: center;
}
.elem {
	position: absolute;
	left: 70%;
	list-style-type: none;
	margin: 0 0 30px 20px;
	padding: 0;
	width: 100%;
}
.elem li {
	margin: 0 15px 0 0;
	padding: 0 0 0 15px;
	display: inline-block;
	color: #dce3e7;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	z-index: 60;
}
