.pos {
	position: absolute;
	right: 0.5%;
	top: 1%;
	z-index: 9999;
	width: 35px;
	height: 35px;
}
.mat-icon {
	width: 30px;
	height: 30px;
	position: absolute;
	left: 10%;
	top: 10%;
}
.card-title {
	text-align: center;
}
.form-group {
	margin-top: 3%;
}
