<div *ngIf="ques">
  {{ques[0].QuestionStatement}}
  <button style="float: right;" type="button " [mat-dialog-close] class="btn btn-danger">
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>
  <br>
  <input name="a1" disabled="true" [checked]="flop1" type="radio">1){{ques.Option1}}
  <label *ngIf="zlop1">---You Marked This</label>
  <br>
  <input name="a1" disabled="true" [checked]="flop2" type="radio">{{ques.Option2}}
  <label *ngIf="zlop2">---You Marked This</label>
  <br>
  <input name="a1" disabled="true" [checked]="flop3" type="radio">{{ques.Option3}}
  <label *ngIf="zlop3">---You Marked This</label>
  <br>
  <input name="a1" disabled="true" [checked]="flop4" type="radio">{{ques.Option4}}
  <label *ngIf="zlop4">---You Marked This</label>
  <br>
</div>