<button type="button " [mat-dialog-close] class="btn btn-danger pos">
  <mat-icon>clear</mat-icon>
</button>
<div class="card">
  <mat-dialog-content>
    <div class="card-body">
      <h5 class="card-title">{{label}}</h5>
      <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
        <input type="hidden" name="CreatedBy" #CreatedBy="ngModel" [(ngModel)]="CCreatedBy">
        <input type="hidden" name="QuestionId" #QuestionId="ngModel" [(ngModel)]="service.formData.QuestionId">
        <input type="hidden" name="ImageName" #ImageName="ngModel" [(ngModel)]="service.formData.ImageName">
        <div class="form-group">
          <label>Question</label>
          <textarea class="form-control" [readonly]="bool" name="QuestionStatement" #QuestionStatement="ngModel"
            [(ngModel)]="service.formData.QuestionStatement" rows="3"></textarea>
          <div class="validation-error" *ngIf="QuestionStatement.invalid && QuestionStatement.touched">This field is
            required.
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Option 1</label>
            <input required type="text" [readonly]="bool" name="Option1" #Option1="ngModel"
              [(ngModel)]="service.formData.Option1" class="form-control">
            <div class="validation-error" *ngIf="Option1.invalid && Option1.touched">This field is required.</div>
          </div>
          <div class="form-group col-md-6">
            <label>Option 2</label>
            <input required type="text" [readonly]="bool" name="Option2" #Option2="ngModel"
              [(ngModel)]="service.formData.Option2" class="form-control">
            <div class="validation-error" *ngIf="Option2.invalid && Option2.touched">This field is required.</div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Option 3</label>
            <input type="text" [readonly]="bool" name="Option3" #Option3="ngModel"
              [(ngModel)]="service.formData.Option3" class="form-control">
          </div>
          <div class="form-group col-md-6">
            <label>Option 4</label>
            <input type="text" [readonly]="bool" name="Option4" #Option4="ngModel"
              [(ngModel)]="service.formData.Option4" class="form-control">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Correct Option</label>
            <select name="Answer" [disabled]="bool" required #Answer="ngModel" [(ngModel)]="service.formData.Answer"
              class="form-control">
              <option value="">Choose</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
            <div class="validation-error" *ngIf="Answer.invalid && Answer.touched">This field is required.
            </div>
          </div>
          <div class="form-group col-md-6">
            <label>Marks</label>
            <select name="Marks" [disabled]="bool" required #Marks="ngModel" [(ngModel)]="service.formData.Marks"
              class="form-control">
              <option value="">Choose</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="5">5</option>
            </select>
            <div class="validation-error" *ngIf="Marks.invalid && Marks.touched">This field is required.</div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Select Subject</label>
            <!-- <select name="SubjectId" [disabled]="bool" required #SubjectId="ngModel"
              [(ngModel)]="service.formData.SubjectId" class="form-control">
              <option value="">Choose</option>
              <option *ngFor="let Subject of Subjects" value="{{Subject.SubjectId}}">{{Subject.Name}}</option>
            </select> -->
            <ng-multiselect-dropdown name="Tags" #Tags="ngModel" [placeholder]="Choose" required
                [data]="Subjects" [disabled]="bool" [settings]="dropdownSettings" [(ngModel)]="service.formData.Tags">
              </ng-multiselect-dropdown>
            <div class="validation-error" *ngIf="Tags.invalid && Tags.touched">This field is required.</div>
          </div>
          <div class="form-group col-md-6">
            <label>Select Difficulty-Level</label>
            <select name="Difficulty" [disabled]="bool" required #Difficulty="ngModel"
              [(ngModel)]="service.formData.Difficulty" class="form-control">
              <option value="">Choose</option>
              <option value="Beginner">Beginner</option>
              <option value="Intermediate">Intermediate</option>
              <option value="Advanced">Advanced</option>
            </select>
            <div class="validation-error" *ngIf="Difficulty.invalid && Difficulty.touched">This field is required.</div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Select Type</label>
            <select name="QuestionType" [disabled]="bool" required #QuestionType="ngModel"
              [(ngModel)]="service.formData.QuestionType" class="form-control">
              <option value="">Choose</option>
              <option value="Mock">Mock</option>
              <option value="Scheduled">Scheduled</option>
            </select>
            <div class="validation-error" *ngIf="QuestionType.invalid && QuestionType.touched">This field is required.
            </div>
          </div>
          <div [hidden]="bool" class="form-group col-md-6">
            <strong><label>Select/Change Image</label></strong>
            <input type="file" (change)="chooseFile($event)" name="ImageNameDemo" class="form-control">
          </div>
        </div>
        <div style="float:right" class="form-group">
          <div class="row">
            <div class="col-md-6">
              <button [hidden]="bool" type="submit" [disabled]="form.invalid || bool"
                class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
        <strong><img [src]="src" alt="Image Does Not Exist"></strong>
        <br><br>
      </form>
      <button type="button" *ngIf="src" (click)="deleteImg()" style="cursor: pointer;" [hidden]="bool"
        class="btn btn-outline-danger">
        <i class="fa fa-trash" aria-hidden="true"> Delete
          Img</i></button>
    </div>
  </mat-dialog-content>
</div>