<app-main-nav3>
  <ngx-ui-loader [loaderId]="'loader-01'" *ngIf="show"></ngx-ui-loader>
  <div class="jumbotron">
    <div class="pic">
      <img class="left" src="{{ profileUrl }}" />
    </div>
    <div class="detail1">
      <h1>{{ firstName }} {{ lastName }}</h1>
      <h6>{{ email }}</h6>
    </div>
  </div>
  <div class="row">
    <div style="width: 33.33%;
        margin-left: auto ;
        margin-right: auto ;" class="box col-3">
      <div class="boxhalf">
        <h2 style="font-size:40px">{{ mocks }}</h2>
        <strong><h5>Mocks Taken</h5></strong>
      </div>
    </div>
    <div style="width: 33.33%;
        margin-left: auto ;
        margin-right: auto ;" class="box col-3">
      <div class="boxhalf">
        <h3 style="font-size:40px">{{ nonMocks }}</h3>
        <strong><h5>Schedule Quiz Taken</h5></strong>
      </div>
    </div>
    <div style="width: 33.33%;
        margin-left: auto ;
        margin-right: auto ;" class="box col-3">
      <div class="boxhalf">
        <h2 style="font-size:40px">{{ accuracy }}%</h2>
        <strong><h5>Accuracy</h5></strong>
      </div>
    </div>
  </div>
  <br /><br /><br />
  <div class="row">
    <div style="width: 100%;
    margin-left: auto ;
    margin-right: auto ;" class=" box1 col-8">
      <div class="boxhalf1">
        <strong><h4>Recent Quiz Taken</h4></strong>
        <h5>{{recentQuiz}}</h5>
      </div>
    </div>
  </div>
</app-main-nav3>