<app-main-nav3>
  <ngx-ui-loader [loaderId]="'loader-01'" *ngIf="show"></ngx-ui-loader>
  <div class="jumbotron">
    <div class="pic">
      <img class="left" src="{{ profileUrl }}" />
    </div>
    <div class="detail1">
      <h1>{{ Firstname }} {{ Lastname }}</h1>
      <h6>{{ email }}</h6>
    </div>
  </div>
  <div class="row">
    <div class="box col-3">
      <div class="boxhalf">
        <h2 >{{ mocks }}</h2>
        <strong><h5>Mocks Taken</h5></strong>
      </div>
    </div>
    <div class="box col-3">
      <div class="boxhalf">
        <h2>{{ nmocks }}</h2>
        <strong><h5>Schedule Quiz Taken</h5></strong>
      </div>
    </div>
    <div class="box col-3">
      <div class="boxhalf">
        <h2>{{ accuracy }}%</h2>
        <strong><h5>Accuracy</h5></strong>
      </div>
    </div>
  </div>
  <br /><br /><br />
  <div class="row">
    <div class=" box1 col-8">
      <div class="boxhalf1">
        <strong><h4>Recent Quiz Taken</h4></strong>
        <h5>{{recentQuiz}}</h5>
      </div>
    </div>
  </div>
</app-main-nav3>