th,
td {
	text-align: center;
}
mat-dialog-content {
	position: relative;
}
.pos {
	position: absolute;
	right:13%;
	top:20%;
	z-index: 9999;
	width: 35px;
	height: 35px;
}
mat-icon {
	width: 30px;
	height: 30px;
	position: absolute;
	left: 10%;
	top: 10%;
}
