@import 'src/color.scss';
table {
	width: 100%;
	margin-top: 10px;
	color: $black;
}
.container-fluid {
	margin: 7px auto;
	padding: 5px auto;
}
h4 {
	text-align: center;
	color: $black;
}
.th .mat-header-cell {
	padding-left: 20px !important;
	color: $black;
}
th,
td {
	text-align: center;
}
.contain {
	text-align: right;
	.fa {
		margin: 4px 4px 0 0;
	}
	input {
		width: auto;
	}
}
tr {
	th {
		background-color: $black;
		color: $white;
	}
}
