<?xml version="1.0"?>
<configuration>

  <appSettings>
    <clear/>
    <add key="EmailHost" value="smtp.gmail.com"/>
    <add key="EmailPort" value="587"/>
    <add key="AdminEmail" value="example@gmail.com"/>
    <add key="AdminPassword" value="your-google-app-password"/>
  </appSettings>

</configuration>