.mat-dialog-content {
	position: relative;
}

.pos {
	position: absolute;
	right: 1%;
	top: 1%;
	z-index: 9999;
	width: 35px;
	height: 35px;
}

.mat-icon {
	width: 30px;
	height: 30px;
	position: absolute;
	left: 4%;
	top: 10%;
}
