<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar><a mat-list-item routerLink="/cc-dash"><i class="fa fa-tachometer" aria-hidden="true"></i>
        Dashboard</a></mat-toolbar>
    <mat-nav-list class="nav">
      <ul class="nav">
      <li><a mat-list-item (click)="setQuestionType('Scheduled')"><i class="fa fa-code" aria-hidden="true"></i> Create
        Scheduled
        Question</a></li>
      <li><a mat-list-item (click)="setQuestionType('Mock')"><i class="fa fa-code" aria-hidden="true"></i> Create Mock
        Question</a></li>
      <li><a mat-list-item routerLink="/cc-dash/quiz"><i class="fa fa-retweet" aria-hidden="true"></i> Create/Retrieve
        Quiz</a></li>
      <li><a mat-list-item routerLink="/cc-dash/tag"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Create / Edit
        Tag</a></li>
      <li><a mat-list-item routerLink="/cc-dash/rqbank"><i class="fa fa-check" aria-hidden="true"></i> Questions Created</a></li>
      <li><a mat-list-item routerLink="/cc-dash/archive-quiz"><i class="fa fa-archive" aria-hidden="true"></i> Archive
        Quizes</a></li>
      </ul>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="input-group mb-6" style="width:37%; float: left;">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Role</label>
        </div>
        <select class="custom-select" #role id="inputGroupSelect01" [(ngModel)]="cRole" (change)="currentRoleIs(role.value)">
          <option value="//emp-dash" *ngIf="roleMatch(['Employee'])">Employee</option>
          <option value="//cc-dash" *ngIf="roleMatch(['Content-Creator'])">Content-Creator</option>
          <option value="//ta-dash" *ngIf="roleMatch(['Test-Administrator'])">Test-Administrator</option>
          <option value="//ru-dash" *ngIf="roleMatch(['Reporting-User'])">Reporting-User</option>
        </select>
      </div>
      <span class="spacer"></span>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" (click)="logout()" class="btn btn-dark btn-sm"><i aria-hidden="true"
          style="cursor: pointer;" class="fa fa-sign-out fa-lg">Log Out</i></button>
    </mat-toolbar>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>