<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar><a mat-list-item routerLink="/emp-dash"><i class="fa fa-tachometer" aria-hidden="true"></i>  Dashboard</a></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/emp-dash/non-mocks"><i class="fa fa-code" aria-hidden="true"></i> Scheduled Quizzes</a>
      <a mat-list-item routerLink="/emp-dash/non-mock-report"><i class="fa fa-retweet" aria-hidden="true"></i>  Scheduled Quizzes' Result</a>
      <a mat-list-item routerLink="/emp-dash/mock-report"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Non-Scheduled Quizzes' Result</a>
      <a mat-list-item routerLink="/emp-dash/mock"><i class="fa fa-check" aria-hidden="true"></i> Give Mocks</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Employee Dashboard</span>
      <span class="spacer"></span>
      <a class="log" (click)="logout()">Log Out</a>
    </mat-toolbar>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>