<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar><a mat-list-item routerLink="/emp-dash">Dashboard</a></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/emp-dash/non-mocks">Scheduled Quizzes</a>
      <a mat-list-item routerLink="/emp-dash/non-mock-report">Scheduled Quizzes' Result</a>
      <a mat-list-item routerLink="/emp-dash/mock-report">Non-Scheduled Quizzes' Result</a>
      <a mat-list-item routerLink="/emp-dash/mock">Give Mocks</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Employee Dashboard</span>
      <span class="spacer"></span>
      <a class="log" (click)="logout()">Log Out</a>
    </mat-toolbar>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>