<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar><a mat-list-item routerLink="/emp-dash"><i class="fa fa-tachometer" aria-hidden="true"></i>
        Dashboard</a></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/emp-dash/non-mocks"><i class="fa fa-code" aria-hidden="true"></i> Scheduled
        Quizzes</a>
      <a mat-list-item routerLink="/emp-dash/quiz/non-mock-report"><i class="fa fa-retweet" aria-hidden="true"></i>
        Scheduled Quizzes' Result</a>
      <a mat-list-item routerLink="/emp-dash/mock-report"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Mock
        Quizzes' Result</a>
      <a mat-list-item routerLink="/emp-dash/mock"><i class="fa fa-check" aria-hidden="true"></i> Give Mocks</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Employee Dashboard</span>
      <span class="spacer"></span>
      <!-- <div class="btn-group">
        <button type="button" class="btn btn-success btn-sm">Choose-Role</button>
        <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" style="color:black" (click)="aab('/ta-dash')"
            *ngIf="roleMatch(['Test-Administrator'])">
            Test-Administrator</a>
          <a class="dropdown-item" style="color:black" (click)="aab('/emp-dash')" *ngIf="roleMatch(['Employee'])">
            Employee</a>
          <a class="dropdown-item" style="color:black" (click)="aab('/cc-dash')" *ngIf="roleMatch(['Content-Creator'])">
            Content-Creator</a>
          <a class="dropdown-item" style="color:black" (click)="aab('/ru-dash')" *ngIf="roleMatch(['Reporting-User'])">
            Reporting-User</a>
        </div>
      </div> -->
      <div class="input-group mb-6" style="width:40%; float: left;">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Role</label>
        </div>
        <select class="custom-select" #role id="inputGroupSelect01" (change)="aab(role.value)">
          <option selected disabled>Choose...</option>
          <option value="//emp-dash" *ngIf="roleMatch(['Employee'])">Employee</option>
          <option value="//cc-dash" *ngIf="roleMatch(['Content-Creator'])">Content-Creator</option>
          <option value="//ta-dash" *ngIf="roleMatch(['Test-Administrator'])">Test-Admin</option>
          <option value="//ru-dash" *ngIf="roleMatch(['Reporting-User'])">Reporting-User</option>
        </select>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a class="log" (click)="logout()"><i aria-hidden="true" class="fa fa-sign-out"></i>Log Out</a>
    </mat-toolbar>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>