<app-mainnav4>
  <div class="jumbotron">
    <div class="pic">
      <img class="left" src="{{ profileUrl }}" />
    </div>
    <div class="detail1">
      <h3>{{ Firstname }} {{ Lastname }}</h3>
      <h6>{{ email }}</h6>
    </div>
  </div>
  <div class="row">
    <div class="box col-4">
      <div class="boxhalf">
        <h2>{{ TotalQuiz }}</h2>
        <h6>Total Quizzess</h6>
      </div>
    </div>
    <div class="box col-4">
      <div class="boxhalf">
        <h2>{{ TotalQues }}</h2>
        <h6>Total Questions</h6>
      </div>
    </div>
  </div>
  <br /><br />
  <div class="row">
    <div class="box col-4">
      <div class="boxhalf">
        <h2>{{ TotalSub }}</h2>
        <h6>Total Subjects</h6>
      </div>
    </div>
    <div class="box col-4">
      <div class="boxhalf">
        <h2>{{ TotalUser }}</h2>
        <h6>User Registered</h6>
      </div>
    </div>
  </div>
</app-mainnav4>