@import 'src/color.scss';
mat-dialog-content {
	position: relative;
}
.pos {
	position: absolute;
	right: 1%;
	top: 2%;
	z-index: 9999;
	width: 35px;
	height: 35px;
}
mat-icon {
	width: 30px;
	height: 30px;
	position: absolute;
	left: 10%;
	top: 10%;
}
.card {
	width: 80%;
	margin-top: 2%;
}
.text {
	font-weight: bold;
	color: $blue;
	float: right;
	margin-right: 1%;
}
