<mat-progress-bar mode="determinate" value="{{ bar }}"></mat-progress-bar>
<div class="row" *ngIf="service.quesOfQuiz">
  <div class="col s8 offset-s2">
    <span>Time Left : {{this.hours}}:{{this.minutes}}:{{this.seconds}}</span>
    <div class="container-fluid ">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3><span class="label label-warning" id="qid"></span>
              <p>{{service.qnProgress+1}})&nbsp;{{service.quesOfQuiz[service.qnProgress].QuestionStatement}}</p>
            </h3>
          </div>
          <div class="modal-body">
            <div class="col-xs-3 col-xs-offset-5">
              <div id="loadbar" style="display: none;">
                <div class="blockG" id="rotateG_01"></div>
                <div class="blockG" id="rotateG_02"></div>
                <div class="blockG" id="rotateG_03"></div>
                <div class="blockG" id="rotateG_04"></div>
                <div class="blockG" id="rotateG_05"></div>
                <div class="blockG" id="rotateG_06"></div>
                <div class="blockG" id="rotateG_07"></div>
                <div class="blockG" id="rotateG_08"></div>
              </div>
            </div>
            <div class="quiz" *ngFor="let option of service.quesOfQuiz[service.qnProgress].Option;index as i" id="quiz"
              data-toggle="buttons">
              <label *ngIf="option != null" class="collection-item"
                (click)="Answer(service.quesOfQuiz[service.qnProgress].QuestionId,i+1)"
                class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label"><i aria-hidden="true"
                    class="glyphicon glyphicon-chevron-right"></i></span> {{i+1}})&nbsp;&nbsp;{{option}}</label>
            </div>
            <div>
              <a class="btn btn-sm btn-info text-white"
                (click)="Answer(service.quesOfQuiz[service.qnProgress].QuestionId,0)"><i aria-hidden="true"
                  class="fa fa-forward"></i>Skip</a>
            </div>
          </div>
        </div>
      </div>
    </div>