.card {
	margin: 9px auto;
}
.container {
	max-width: inherit;
	max-height: inherit;
}
button {
	margin-left: 10px;
}
<<<<<<< HEAD
=======
mat-dialog-content {
	position: relative;
	
}
.mat-dialog-content{
	max-height: none;
	overflow: visible !important;
	margin:0 auto !important;
	padding-right: 0px !important;
}
.pos {
	position: absolute;
	right: -2%;
	top: -7%;
	z-index: 9999;
	width: 38px;
	height: 35px;
}
mat-icon {
	width: 30px;
	height: 30px;
	position: absolute;
	left: 8%;
	top: 15%;
}
>>>>>>> cc36520b0297d1918419cfc2cce9acb9b3f3a165
