<app-loader></app-loader>
<app-main-nav>
  <p-table [columns]="cols" [value]="questionList" [paginator]="true" [rows]="6" #dt [responsive]="true">
      <ng-template pTemplate="caption">
        <h3>Question List</h3>
        <div class="search">        
            <i class="fa fa-search"></i>
            <input type="text" pInputText size="30" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'startsWith')">
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>S NO</th>
          <th *ngFor="let col of colss" class="wide">
            {{col.header}}
          </th>
          <th *ngFor="let col of cols" [pSortableColumn]="col.field">
            {{col.header}}
          </th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-i="rowIndex" let-rowData let-columns="columns">
        
        <tr [pSelectableRow]="rowData">
          <td (click)="viewUserQues(rowData.QuestionId,rowData.SerialNumber)">{{rowData.SerialNumber}}</td>
          <td (click)="viewUserQues(rowData.QuestionId,rowData.SerialNumber)">{{rowData.QuestionStatement}}</td>
          <td *ngFor="let col of columns;" (click)="viewUserQues(rowData.QuestionId,rowData.SerialNumber)">
            {{rowData[col.field]}}
          </td>
          <td>
            <a class="btn btn-sm btn-info text-white" (click)="editUserQues(rowData.QuestionId,rowData.SerialNumber)"><i aria-hidden="true"
                class="fa fa-pencil"></i></a>
            <a class="btn btn-sm btn-danger text-white" (click)="deleteQues(rowData.QuestionId)"><i aria-hidden="true"
                class="fa fa-trash"></i></a>
          </td>
        </tr>
      </ng-template>
    </p-table>

</app-main-nav>

