<app-mainnav4>
  <div>
    <h1 style="text-align: center">Analytics by Tag</h1>
    <br /><br />
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-animation="false" data-target="#collapseOne"
              aria-expanded="false" aria-controls="collapseOne">
              Graph Analysis
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div *ngIf="barChartLabels">
                  <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                    [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType" [colors]="baseChartColors">
                  </canvas>
                </div>
              </div>
              <div class="col-md-6">
                <div *ngIf="radarChartLabels">
                  <canvas baseChart [datasets]="radarChartData" [options]="radarChartOptions"
                    [labels]="radarChartLabels" [chartType]="radarChartType">
                  </canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br /><br />
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
      class="row-border hover table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>#S. No.</th>
          <th>Tag Name</th>
          <th>No. Of Quiz</th>
          <th>High Score</th>
          <th>Low Score</th>
          <th>Average Score</th>
          <th>Accuracy</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of tagAnalysisList;index as i;">
          <tr>
            <th>{{i+1}}</th>
            <td>{{item.SubjectName}}</td>
            <td>{{item.Properties.NoOfQuiz}}</td>
            <td>{{item.Properties.HighestScore}}</td>
            <td>{{item.Properties.LowestScore}}</td>
            <td>{{item.Properties.AverageMarks}}</td>
            <td>{{item.Properties.Accuracy}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</app-mainnav4>